Not Included in SVN ( to many potential updates )
---------------------------------------------------------------------------

Jedi-sdl
  http://sourceforge.net/projects/jedi-sdl
  Make sure to download VERSION 1, beta...
  not version 0.5


Included in SVN ..
---------------------------------------------------------------------------

pngImage
  http://pngdelphi.sourceforge.net/

BASS.pas
  http://www.un4seen.com/download.php?bass23

zlportio
  http://www.specosoft.com/en/download.html

ffmpeg
  http://www.iversenit.dk/dev/ffmpeg-headers/

SQLLite Wrapper
  http://www.itwriting.com/sqlitesimple.php

======================================
For LINUX build
======================================
On top of the above pas files, you will need development libraries for them.

here are the instructions needed to compile on ubunty ( 7.04 )

ffmpeg :
  sudo apt-get install libavcodec-dev libavformat-dev

sqlite :
  sudo apt-get install libsqlite3-dev
