Not Included in SVN ( to many potential updates )
---------------------------------------------------------------------------

Jedi-sdl
  http://sourceforge.net/projects/jedi-sdl
  Make sure to download VERSION 1, beta...
  not version 0.5


Included in SVN ..
---------------------------------------------------------------------------

pngImage
  http://pngdelphi.sourceforge.net/

BASS.pas
  http://www.un4seen.com/download.php?bass23

zlportio
  http://www.specosoft.com/en/download.html

ffmpeg
  http://www.iversenit.dk/dev/ffmpeg-headers/

SQLLite Wrapper
  http://www.itwriting.com/sqlitesimple.php
