*.bak
*.pas~
Thumbs.db
*.orig
*.exe
*.dcu
*.o
*.ppu
*.avi
*.mp4
*.db
*.7z
*.a
*.~*
*.log
*fig.ini
backup/
songs/
build/
screenshots/
playlists/
ToDo/
Makefile
config.log
config.status
__history
aclocal.m4
autom4te.cache/
*.identcache
*.bdsproj.local
link.res
ppaslink.sh
game/ultrastardx
UltraStarDeluxe.app/*