# general files
*.bak
*.pas~
Thumbs.db
*.orig
*.exe
*.~*
*.log

# lazarus project files
*.o
*.ppu
*.a
*.dcu

# intermediates
/build/
Makefile
config.log
config.status
__history
aclocal.m4
/autom4te.cache/
link.res
ppaslink.sh
/UltraStarDeluxe.app/*

# source intermediates
#/src/**/*.cfg
/src/**/*.local
/src/**/*.bdsproj
/src/**/*.identcache
/src/config-linux.inc
/src/paths.inc
/src/ultrastardx-*.lps

# dev files
/backup/
/[Tt]o[Dd]o/

# game folders
/game/playlists/
/game/screenshots/
/game/songs/

# game files
/game/config.ini
/game/*.db
/game/*.log
/game/ultrastardx
