# general files
*.bak
*.pas~
Thumbs.db
*.orig
*.exe
*.~*
*.log
.DS_Store

# lazarus project files
*.o
*.ppu
*.a
*.dcu

# other editors
/.idea/

# intermediates
/configure
/configure~
/build/
Makefile
config.log
config.status
__history
aclocal.m4
/autom4te.cache/
/CMakeFiles/
link*.res
ppaslink.sh
/UltraStarDeluxe.app/*
/dists/autogen/config.guess
/dists/autogen/config.sub
/dists/autogen/install-sh

# source intermediates
#/src/**/*.cfg
/src/**/*.local
/src/**/*.bdsproj
/src/**/*.identcache
/src/config-darwin.inc
/src/config-linux.inc
/src/config-win32.inc
/src/paths.inc
/src/ultrastardx-*.lps
/src/ultrastardx.res

# dev files
**/backup/
/[Tt]o[Dd]o/
/installer/dependencies/dll/*.dll

# game folders
/game/playlists/
/game/screenshots/
/game/songs/

# game files
/game/config.ini
/game/*.db
/game/*.log
/game/ultrastardx

# created by dldlls.py on Windows
/usdx-dlls-i686.zip
/game/*.dll
/game/*.debug
