Font      		TEX "..\Fonts\Normal\eurostar_regular.png"
Font      		FNT "..\Fonts\Normal\eurostar_regular.dat"

FontB     		TEX "..\Fonts\Bold\eurostar_regular_bold.png"
FontB     		FNT "..\Fonts\Bold\eurostar_regular_bold.dat"

FontO     		TEX "..\Fonts\Outline 1\Outline 1.png"
FontO     		FNT "..\Fonts\Outline 1\Outline 1.dat"

FontO2    		TEX "..\Fonts\Outline 2\Outline 2.png"
FontO2    		FNT "..\Fonts\Outline 2\Outline 2.dat"

MAINICON  		ICON "..\Graphics\ustar-icon_v01.ico"
//MAINICON      	ICON "..\Graphics\us.ico"

CRDTS_BG		TEX "..\Graphics\credits_v5_bg.png"
CRDTS_OVL		TEX "..\Graphics\credits_v5_overlay.png"
CRDTS_blindguard	TEX "..\Graphics\names_blindguard.png"
CRDTS_blindy		TEX "..\Graphics\names_blindy.png"
CRDTS_canni		TEX "..\Graphics\names_canni.png"
CRDTS_commandio		TEX "..\Graphics\names_commandio.png"
CRDTS_lazyjoker		TEX "..\Graphics\names_lazyjoker.png"
CRDTS_mog		TEX "..\Graphics\names_mog.png"
CRDTS_mota		TEX "..\Graphics\names_mota.png"
CRDTS_skillmaster	TEX "..\Graphics\names_skillmaster.png"
CRDTS_whiteshark	TEX "..\Graphics\names_whiteshark.png"
INTRO_L01		TEX "..\Graphics\intro-l-01.png"
INTRO_L02		TEX "..\Graphics\intro-l-02.png"
INTRO_L03		TEX "..\Graphics\intro-l-03.png"
INTRO_L04		TEX "..\Graphics\intro-l-04.png"
INTRO_L05		TEX "..\Graphics\intro-l-05.png"
INTRO_L06		TEX "..\Graphics\intro-l-06.png"
INTRO_L07		TEX "..\Graphics\intro-l-07.png"
INTRO_L08		TEX "..\Graphics\intro-l-08.png"
INTRO_L09		TEX "..\Graphics\intro-l-09.png"
OUTRO_BG		TEX "..\Graphics\outro-bg.png"
OUTRO_ESC		TEX "..\Graphics\outro-esc.png"
OUTRO_EXD		TEX "..\Graphics\outro-exit-dark.png"
