Font      		TEX "../Resources/Fonts/Normal/eurostar_regular.png"
Font      		FNT "../Resources/Fonts/Normal/eurostar_regular.dat"

FontB     		TEX "../Resources/Fonts/Bold/eurostar_regular_bold.png"
FontB     		FNT "../Resources/Fonts/Bold/eurostar_regular_bold.dat"

FontO     		TEX "../Resources/Fonts/Outline 1/Outline 1.png"
FontO     		FNT "../Resources/Fonts/Outline 1/Outline 1.dat"

FontO2    		TEX "../Resources/Fonts/Outline 2/Outline 2.png"
FontO2    		FNT "../Resources/Fonts/Outline 2/Outline 2.dat"

MAINICON  		ICON "../Resources/Graphics/ustar-icon_v01.ico"
WINDOWICON  		TEX  "../Resources/Graphics/ustar-icon.png"

CRDTS_BG		TEX "../Resources/Graphics/credits_v5_bg.png"
CRDTS_OVL		TEX "../Resources/Graphics/credits_v5_overlay.png"
CRDTS_blindguard	TEX "../Resources/Graphics/names_blindguard.png"
CRDTS_blindy		TEX "../Resources/Graphics/names_blindy.png"
CRDTS_canni		TEX "../Resources/Graphics/names_canni.png"
CRDTS_commandio		TEX "../Resources/Graphics/names_commandio.png"
CRDTS_lazyjoker		TEX "../Resources/Graphics/names_lazyjoker.png"
CRDTS_mog		TEX "../Resources/Graphics/names_mog.png"
CRDTS_mota		TEX "../Resources/Graphics/names_mota.png"
CRDTS_skillmaster	TEX "../Resources/Graphics/names_skillmaster.png"
CRDTS_whiteshark	TEX "../Resources/Graphics/names_whiteshark.png"
INTRO_L01		TEX "../Resources/Graphics/intro-l-01.png"
INTRO_L02		TEX "../Resources/Graphics/intro-l-02.png"
INTRO_L03		TEX "../Resources/Graphics/intro-l-03.png"
INTRO_L04		TEX "../Resources/Graphics/intro-l-04.png"
INTRO_L05		TEX "../Resources/Graphics/intro-l-05.png"
INTRO_L06		TEX "../Resources/Graphics/intro-l-06.png"
INTRO_L07		TEX "../Resources/Graphics/intro-l-07.png"
INTRO_L08		TEX "../Resources/Graphics/intro-l-08.png"
INTRO_L09		TEX "../Resources/Graphics/intro-l-09.png"
OUTRO_BG		TEX "../Resources/Graphics/outro-bg.png"
OUTRO_ESC		TEX "../Resources/Graphics/outro-esc.png"
OUTRO_EXD		TEX "../Resources/Graphics/outro-exit-dark.png"
