name: Build

on:
  push:
    branches:
      - master
  pull_request:
  # Run every day at 5:40.
  schedule:
    - cron:  '40 5 * * *'
jobs:
  build_windows:
    name: Build for Windows
    runs-on: windows-2022
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Determine version
        run: |
          $VNAME=$(cat VERSION | sed "s/+dev$/+dev-$(git rev-parse --short HEAD)/")
          echo "versionName=$VNAME" >> $env:GITHUB_ENV
      - name: Cache deps
        id: cache-deps
        uses: actions/cache@v4
        with:
          key: lazarus-4.2-nsis-3.05
          path: |
            c:\lazarus
            c:\Program Files (x86)\NSIS
      - if: ${{ steps.cache-deps.outputs.cache-hit != 'true' }}
        name: Install Dependencies
        run: |
          choco install wget --no-progress
          wget https://sourceforge.net/projects/lazarus/files/Lazarus%20Windows%2032%20bits/Lazarus%204.2/lazarus-4.2-fpc-3.2.2-win32.exe/download -O lazarus-installer.exe --timeout 60 --progress=dot:giga
          Start-Process -FilePath "./lazarus-installer.exe" -ArgumentList "/verysilent" -Wait
          wget "https://sourceforge.net/projects/nsis/files/NSIS%203/3.05/nsis-3.05-setup.exe/download" -O nsis-3.05-setup.exe --timeout 60
          ./nsis-3.05-setup.exe /S
      - name: Build
        run: |
          c:\lazarus\lazbuild src\ultrastardx-win.lpi  --lazarusdir=c:\lazarus
      - name: Add prebuilt DLLs
        run: |
          python dldlls.py
          7z x -y usdx-dlls-i686.zip -ogame "*.dll"
        env:
          ARTIFACT_ACCESS_TOKEN: ${{ secrets.MxeActionsReadAccessToken }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create installer
        run: |
          del game\*.debug
          xcopy game\*.dll installer\dependencies\dll /y
          & 'C:\Program Files (x86)\NSIS\makensis.exe' "installer/UltraStar Deluxe.nsi"
          mv installer\dist\UltraStar.Deluxe_*_installer.exe UltraStarDeluxe-windows-installer-${{ env.versionName }}.exe
      - name: Upload Installer Artifact
        uses: actions/upload-artifact@v4
        with:
          name: UltraStarDeluxe-windows-installer-${{ env.versionName }}
          path: UltraStarDeluxe-windows-installer-${{ env.versionName }}.exe
          if-no-files-found: error
      - name: Upload Portable Artifact
        uses: actions/upload-artifact@v4
        with:
          name: UltraStarDeluxe-windows-portable-${{ env.versionName }}
          path: game
          if-no-files-found: error

  build_mac:
    name: Build for MacOS (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, macos-15-intel]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Determine version
        run: |
          VNAME=$(cat VERSION | sed "s/+dev$/+dev-$(git rev-parse --short HEAD)/")
          echo "versionName=$VNAME" >> $GITHUB_ENV
      - name: Determine Arch
        run: |
          if [ "${{ matrix.os }}" = "macos-15-intel" ]; then
            echo "arch=x86" >> $GITHUB_ENV
          else
            echo "arch=ARM" >> $GITHUB_ENV
          fi
      - name: Install Dependencies
        run: |
          brew install fpc sdl2 sdl2_image automake portaudio lua ffmpeg
      - name: Build
        run: |
          ./autogen.sh
          ./configure
          make macosx-dmg
          mv UltraStarDeluxe.dmg UltraStarDeluxe-mac-${{ env.arch }}-${{ env.versionName }}.dmg
      - name: Upload Image Artifact
        uses: actions/upload-artifact@v4
        with:
          name: UltraStarDeluxe-mac-${{ env.arch }}-${{ env.versionName }}
          path: UltraStarDeluxe-mac-${{ env.arch }}-${{ env.versionName }}.dmg
          if-no-files-found: error

  build_linux:
    name: Build for Linux
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Determine version
        run: |
          VNAME=$(cat VERSION | sed "s/+dev$/+dev-$(git rev-parse --short HEAD)/")
          echo "versionName=$VNAME" >> $GITHUB_ENV
      - name: Cache build
        uses: actions/cache@v4
        with:
          key: linux-docker-${{ hashFiles('dists/linux/dl.sh', 'dists/linux/tasks.sh') }}
          path: |
            dists/linux/prefix
      - name: Start container builder
        uses: docker/setup-buildx-action@v3
      - name: Generate Dockerfile
        run: |
          cd dists/linux
          ./dockerenv.sh --dockerfile > Dockerfile
      - name: Build container
        uses: docker/build-push-action@v6
        with:
          context: dists/linux
          cache-from: type=gha
          cache-to: type=gha,mode=max,ignore-error=true
          load: true
          tags: usdx/buildenv:latest
      - name: Build
        run: |
          cd dists/linux
          sed -i '/docker/s/-it\>//' dockerenv.sh
          ./dockerenv.sh --use-existing=usdx/buildenv:latest make compress
          mv UltraStar*.AppImage ../../UltraStarDeluxe-linux-${{ env.versionName }}.AppImage
      - name: Upload Image Artifact
        uses: actions/upload-artifact@v4
        with:
          name: UltraStarDeluxe-linux-${{ env.versionName }}
          path: UltraStarDeluxe-linux-${{ env.versionName }}.AppImage
          if-no-files-found: error
