name: Build

on:
  push:
    branches:
      - master
  pull_request:
  # Run every day at 5:40.
  schedule:
    - cron:  '40 5 * * *'
jobs:
  build_windows:
    name: Build for Windows
    runs-on: windows-2022
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Determine version
        run: |
          $VNAME=$(cat VERSION | sed "s/+dev$/+dev-$(git rev-parse --short HEAD)/")
          echo "versionName=$VNAME" >> $env:GITHUB_ENV
      - name: Cache deps
        id: cache-deps
        uses: actions/cache@v4
        with:
          key: nsis-3.05-msys2-msys
          path: |
            c:\Program Files (x86)\NSIS
      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: MSYS
          update: false
          install: >-
            autoconf-wrapper
            automake-wrapper
            git
            make
            pkgconf
            mingw-w64-x86_64-pkgconf
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-SDL2
            mingw-w64-x86_64-SDL2_image
            mingw-w64-x86_64-ffmpeg
            mingw-w64-x86_64-lua
            mingw-w64-x86_64-opencv
            mingw-w64-x86_64-tools
      - name: Install Dependencies
        run: |
          curl.exe -L --max-time 60 -o fpc-installer.exe "https://sourceforge.net/projects/freepascal/files/Win32/3.2.2/fpc-3.2.2.win32.and.win64.exe/download"
          curl.exe -L --max-time 60 -o nsis-3.05-setup.exe "https://sourceforge.net/projects/nsis/files/NSIS%203/3.05/nsis-3.05-setup.exe/download"
          Start-Process -FilePath ".\\fpc-installer.exe" -ArgumentList "/TYPE=full /VERYSILENT /SP- /SUPPRESSMSGBOXES /NORESTART" -Wait
          ./nsis-3.05-setup.exe /S
      - name: Download prebuilt DLLs
        run: |
          python dldlls.py
          7z x -y usdx-dlls-x86_64.zip -ogame "*.dll"
        env:
          ARTIFACT_ACCESS_TOKEN: ${{ secrets.MxeActionsReadAccessToken }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Prepare OpenCV wrapper import lib
        shell: msys2 {0}
        run: |
          export PATH="/mingw64/bin:$PATH"
          /mingw64/bin/dlltool -d src/lib/openCV3/opencvwrapper.def -D opencvwrapper.dll -l src/lib/openCV3/libopencvwrapper.dll.a
          cp src/lib/openCV3/libopencvwrapper.dll.a src/lib/openCV3/libopencvwrapper.a
      - name: Build
        shell: msys2 {0}
        run: |
          export PATH="/usr/bin:/mingw64/bin:/c/FPC/3.2.2/bin:/c/FPC/3.2.2/bin/i386-win32:$PATH"
          export MAKE="/usr/bin/make"
          export PKG_CONFIG="/mingw64/bin/pkg-config"
          export PKG_CONFIG_PATH="/mingw64/lib/pkgconfig:/mingw64/share/pkgconfig"
          export FPCCFG="/c/FPC/3.2.2/bin/i386-win32/fpc.cfg"
          export FPCDIR="/c/FPC/3.2.2"
          export PPC="ppcrossx64"
          export FPCMAKE="/c/FPC/3.2.2/bin/i386-win32/fpcmake"
          ./autogen.sh
          ./configure --with-opencv-cxx-api
          make
      - name: Create installer
        run: |
          del game\*.debug
          xcopy game\*.dll installer\dependencies\dll /y
          & 'C:\Program Files (x86)\NSIS\makensis.exe' "installer/UltraStar Deluxe.nsi"
          mv installer\dist\UltraStar.Deluxe_*_installer.exe UltraStarDeluxe-windows-installer-${{ env.versionName }}.exe
      - name: Upload Installer Artifact
        uses: actions/upload-artifact@v4
        with:
          name: UltraStarDeluxe-windows-installer-${{ env.versionName }}
          path: UltraStarDeluxe-windows-installer-${{ env.versionName }}.exe
          if-no-files-found: error
      - name: Upload Portable Artifact
        uses: actions/upload-artifact@v4
        with:
          name: UltraStarDeluxe-windows-portable-${{ env.versionName }}
          path: game
          if-no-files-found: error

  build_mac:
    name: Build for MacOS (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, macos-15-intel]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Determine version
        run: |
          VNAME=$(cat VERSION | sed "s/+dev$/+dev-$(git rev-parse --short HEAD)/")
          echo "versionName=$VNAME" >> $GITHUB_ENV
      - name: Determine Arch
        run: |
          if [ "${{ matrix.os }}" = "macos-15-intel" ]; then
            echo "arch=x86" >> $GITHUB_ENV
          else
            echo "arch=ARM" >> $GITHUB_ENV
          fi
      - name: Install Dependencies
        run: |
          brew install fpc sdl2 sdl2_image automake portaudio lua ffmpeg
      - name: Build
        run: |
          ./autogen.sh
          ./configure
          make macosx-dmg
          mv UltraStarDeluxe.dmg UltraStarDeluxe-mac-${{ env.arch }}-${{ env.versionName }}.dmg
      - name: Upload Image Artifact
        uses: actions/upload-artifact@v4
        with:
          name: UltraStarDeluxe-mac-${{ env.arch }}-${{ env.versionName }}
          path: UltraStarDeluxe-mac-${{ env.arch }}-${{ env.versionName }}.dmg
          if-no-files-found: error

  build_linux:
    name: Build for Linux
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Determine version
        run: |
          VNAME=$(cat VERSION | sed "s/+dev$/+dev-$(git rev-parse --short HEAD)/")
          echo "versionName=$VNAME" >> $GITHUB_ENV
      - name: Start container builder
        uses: docker/setup-buildx-action@v3
      - name: Generate Dockerfile
        run: |
          cd dists/linux
          ./dockerenv.sh --dockerfile > Dockerfile
      - name: Build container
        uses: docker/build-push-action@v6
        with:
          context: dists/linux
          cache-from: type=gha
          cache-to: type=gha,mode=max,ignore-error=true
          load: true
          tags: usdx/buildenv:latest
      - name: Build
        run: |
          cd dists/linux
          sed -i '/docker/s/-it\>//' dockerenv.sh
          ./dockerenv.sh --use-existing=usdx/buildenv:latest make compress
          mv UltraStar*.AppImage ../../UltraStarDeluxe-linux-${{ env.versionName }}.AppImage
      - name: Upload Image Artifact
        uses: actions/upload-artifact@v4
        with:
          name: UltraStarDeluxe-linux-${{ env.versionName }}
          path: UltraStarDeluxe-linux-${{ env.versionName }}.AppImage
          if-no-files-found: error
